*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #457db5;
}

.form-container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    background-color: #ffd86d;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 0px;
  }

  
  input {
    padding: 8px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    background-color: #457db5;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
  }

  .message-span {
    color: red;
    font-size: 14px;
    margin: 5px 0px;
    height: 20px;
  }

  #prepopulateBtn{
    background-color: #457db5;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    width: 30%;
  }